<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172354942341-cnokrsqahl5sf1boq0drelhv31agkold.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172354942341-cnokrsqahl5sf1boq0drelhv31agkold</string>
	<key>API_KEY</key>
	<string>AIzaSyD84Oy0lEJ73EdFLugsk6YURfC9ki6Cicw</string>
	<key>GCM_SENDER_ID</key>
	<string>172354942341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fanpage</string>
	<key>PROJECT_ID</key>
	<string>fanpage-18c44</string>
	<key>STORAGE_BUCKET</key>
	<string>fanpage-18c44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172354942341:ios:2abc48c050f9fc040940ec</string>
</dict>
</plist>